{% extends "base.html" %}

{{ super() }}


{% block content %}

<h1>Cameron Wood's Website</h1>
<p>Welcome to my personal website! This was configured and built with Github Pages, Zola, 
HTML, CSS and Markdown.</p>

<h2>About</h2>
<p> My name is Cameron Wood and I have been a professional 
  developer for over three years.
</p>
  
<p>Recently, I recieved a BSc degreee in Computer Science from the University of 
  Alabama at Birmingham (UAB).
</p>
  
<p>Currently, I work in a Computer Forensics Research Lab at UAB. I'm also a Graduate 
  Research Assistant for the Criminal Justice Department and receiving a Masters in 
  Computer Science.
</p>

<p>I have a passion for learning, programming and making elegrant products. I enjoy 
meeting new people, playing soccer and the outdoors.
</p>

<h2 id="projects">Projects</h2>
<ul>
  <li>
  <a href="https://gitlab.com/cameronwood611/web-crawler">Web Crawler</a>:
  Asyncronous web crawler with Python and Docker.
  </li>
  <li>
  <a href="https://devpost.com/software/adventure-learnabot">Adventure Learnabot</a>:
  Hackathon project involving a text-based adventure in discord.
  </li>
  <li>
    <a href="  https://gitlab.com/cameronwood611/computer-vis">Computer Vision</a>:
    Collection of computer vision knowledge.
    </li>
</ul>
{% endblock content %}