{% extends "base.html" %}

{{ super() }}


{% block content %}

<h1>Cameron Wood's Website</h1>
<p>Welcome to my personal website! This was configured and built with Github Pages, Zola, 
HTML, CSS and Markdown.</p>

<h2>About</h2>
<p> My name is Cameron Wood and I have a passion for learning and creating.
</p>
  
<p>I have 3 years of professional development experience and hold a BSc degreee in 
  Computer Science.
</p>
  
<p>Currently, I work in a Computer Forensics Research Lab and hired as a Graduate 
  Research Assistant while receiving a Masters in Computer Science.
</p>

<p>My life outside of school/work involves carpentry, playing soccer and meeting new people.</p>

<h2 id="projects">Projects</h2>
<ul>
  <li>
  <a href="https://gitlab.com/cameronwood611/web-crawler" target="_">Web Crawler</a>:
  Asyncronous web crawler with Python, Docker and PSQL.
  </li>
  <li>
  <a href="https://devpost.com/software/adventure-learnabot" target="_">Adventure Learnabot</a>:
  Hackathon project involving a text-based adventure in discord.
  </li>
  <li>
    <a href="https://github.com/Cameronwood611/nlp662-spamdetection" target="_">Spam Detection</a>:
  A LSTM model built with Keras to detect spam emails.
  </li>
  <li>
    <a href="  https://gitlab.com/cameronwood611/computer-vis" target="_">Computer Vision</a>:
    Collection of computer vision knowledge.
    </li>
</ul>
{% endblock content %}